body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #9ed89f;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h2 {
    color: #9ed89f;
}

section {
    padding: 2em;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

footer {
    background-color: #9ed89f;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
